 *{
    margin: 0;
    padding: 0;
} 
.container{
    width: 95%;
    align-items: center;
    margin: auto;
}

.info_pg div{
    display: inline-block;
    height: 100px;
    width: calc(33%-5px);    
} 
.info_pg img{
    width: 100%;
    display: inline;
}
#nome_da_loja{
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 20px;
    width: 20%;
} 
#procura{
    margin-top: 30px;
    size: 200px;
}   
form{
    border-radius: 6px;
    width: 90px;
}
 #others_infos{
    width: 18%;
    margin-top: 20px;
    position: center;
    margin-left: 30px;
}
.carrinho{
    display: flex;
    margin-left: 30px;
                
}
#caldeirao{
    position: center;
}
#bag{
    float: right;
}

.links{
    border-top: 70px;
    height: 35px;
    width: 100%;
    margin: auto;
    background-color: rgb(82,52,104);
    padding-top: 15px; 
    align-items: center;
    font-size: 16px;
}
#link :hover{
    background-color: rgb(66, 42, 83)
}
.registro{
    float: right;
    color: white;
    margin-right: 20px;
}
.prod{
    display:inline-block;
    padding: 30px;
    margin:15px; 
    width: calc(33%-5px);
    margin-left: 73px; 
}
#produtos{
    display: inline-block;
    width: calc(33.33% -5px);
    margin-bottom: 75px;
    margin: auto;
}
 .rodape{
    display: flex;
    margin: auto;
    width: 75%;
    padding: 20px;
    align-items: center;
    color: rgb(230,230,230)
} 
.foot{
    display: flex;
    border: 1px solid black;
    height: 200px;
    
}
 .info_foot{
    font-family: Arial;
    color: rgb(220, 92, 44);
    display: inline;
    margin: 5px;
} 

.contatos{
    display: flex;
}
.social{
    color: black;
    display: inline
}
.sociais{
    color: black;
    display: inline-block;
    
}



.user{
    display: flex;
    padding: 30px;
    margin-left: 20px;
    height: 200px;
    width: 325px;
    float:right;
    background-color: white;
    
}



 .user button{
    font-family: Arial;
    color: white;
    background-color:rgb(215,58,30);
    border-radius: 4px;
    border-color: transparent; 
    width: 75px;
    height: 25px;  
    margin-right: 25px;    
} 
.email{ 
    width:150px;
    height: 25px;
    margin-right: 4px;
    margin-left: 4px;

}

 a{
    font-family: 'Lucida Sans';
    color: white;
    text-decoration: none;
    padding-bottom: 10px;
    padding-left: 15px;
    font-size: 15px;
    align-items: left;
} 

p#links{
    align-items: right;
    color: white;
    font-family: 'Lucida Sans';
    text-decoration: none;
    font-size: 15px;
    align-items: right;
}

